#headingH{
    background-color:antiquewhite;
    font-size:1.9rem;
    font-family:cursive;
    border-radius:10px;
    border:5px solid blue;
    text-align:center;
    box-shadow:5px 10px 10px red;
    text-shadow: 3px 4px 5px brown;
}
img{
    width:200px;
    height:200px;
    border-radius:5px;
}
#abhishekP{
    background-color:aqua;
    padding:5px;
    margin:5px;
    border:5px dashed crimson;
}
#bumraP{
    background-color:lightpink;
    padding:6px;
    margin:5px;
    border:5px dotted orangered;
}
#dhoniP{
    background-color:lightslategray;
    padding:7px;
    margin:5px;
    border:10px inset blue;
}
#gillP{
    background-color:lightcyan;
    padding:10px;
    margin:7px;
    border: 10px outset yellowgreen;
}
#nitishP{
    background-color:lightsteelblue;
    padding:6px;
    margin:5px;
    border: 12px groove cyan;
}
#pathiP{
    background-color:lightslategrey;
    padding:8px;
    margin:10px;
    border: 14px double chartreuse;
}
#rohithP{
    padding:4px;
    margin:3px;
    background-color:limegreen;
    border:15px ridge blueviolet;
}
#shamiP{
    background-color:lightsalmon;
    padding:9px;
    margin:5px;
    border: 4px solid orange;
}
#sirajP{
    background-color:lightgray;
    padding:9px;
    margin:6px;
    border:15px hidden red;
}
#viratP{
    padding:10px;
    margin:12px;
    border: 18px none  blueviolet;
}
#rs1{
    border:10px groove orangered;
    padding:10px;
    margin:10px;
    border-radius:5px;
    background-color:chartreuse;
    box-sizing:content-box;
}
#d1{
    padding:10px;
    margin:10px;
    border-radius:5px;
    background-color:crimson;
    box-sizing:border-box;
    border: 12px inset rebeccapurple;
}
*{
    box-sizing: border-box;
    padding:5px;
    margin:5px;
}